<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleName</key>
	<string>Metro</string>
	<key>CFBundleIdentifier</key>
	<string>bimbim.bambam.com</string>
	<key>CFBundleExecutable</key>
	<string>Metro</string>

	<key>CFBundleVersion</key>
	<string>2.0.1</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>

	<key>LSMinimumSystemVersion</key>
	<string></string>

	<key>NSHumanReadableCopyright</key>
	<string></string>

	<key>CFBundleIconFile</key>
	<string>metro.icns</string>

	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>

	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>

	<key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.bimbimbambam.metro-document</string>
            <key>UTTypeDescription</key>
            <string>Metro scheme</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>mettro</string>
                </array>
            </dict>
        </dict>
    </array>
    <key>CFBundleTypeIconFile</key>
    <string>metro.icns</string>
</dict>
</plist>
